
<ion-content padding>
  <!--<ion-slides pager="true" [options]="slideOpts">-->
  <ion-slides  pager>
    <ion-slide >
      
      <img  src="assets/images/slide-1.png" alt="">
      <h1>Welcome </h1>
      <br>
      <div>
        <p>This the app Ionic. You can do many things with it. </p>
        <p><strong>Enjoy and let us know.</strong></p>
        <a (click)="goToTabsPage()">Continuar</a>
      </div>
    </ion-slide>
    <ion-slide >
      <img  src="assets/images/slide-2.png" alt="">
      <h1>Versality</h1>
      <div>
        <p>These are the special things we can do for you!</p>
      </div>
    </ion-slide>
    <ion-slide >
      <img  src="assets/images/slide-3.png" alt="">
      <h1>Up where we belong!</h1>
      <div>
        <p>Sky is the limit!
        
        </p>
      </div>
    </ion-slide>
    <ion-slide >
      <img  src="assets/images/slide-3.png" alt="">
      <h1>New Last one slide!</h1>
      <div>
        <p>Sky is the limit!
        </p>
        <a (click)="goToTabsPage()">Continuar</a>
        
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
